body {
    background-color: #2f2f2f;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: white;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -100px;
}

:focus {
    outline: 2px solid red;
}

.skip a:focus {
    top: 20px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007fff;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.button:hover {
    background-color: #004385;
    outline: 1px solid darkgray;
    box-sizing: border-box;
}

.onpage {
    background-color: #004385;
    outline: 3px solid white;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

.tiles1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile1 {
    width: 30%;
    margin-bottom: 20px;
}

.tile1 img {
    width: 100%;
    height: auto;
}

.tiles2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    margin: 0 auto;
}

.tile2 {
    width: 80%;
    margin-bottom: 20px;
}

.tile2 img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

.footer_text {
    background: black;
    color: gray;
    text-align: center;
    margin: 0;
    padding: 10px;
}

/* Desktop */
@media screen and (min-width: 700px) {
    .tiles1 {
        justify-content: space-around;
    }

    .tile1 {
        width: 30%;
    }

    .tiles2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tile2 {
        width: 30%;
    }
}