body {
    background-color: #2f2f2f;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: white;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -100px;
}

:focus {
    outline: 2px solid red;
}

.skip a:focus {
    top: 20px;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007fff;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.button:hover {
    background-color: #004385;
    outline: 1px solid darkgray;
    box-sizing: border-box;
}

.onpage {
    background-color: #004385;
    outline: 3px solid white;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

.tiles1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile1 {
    width: 30%;
    margin-bottom: 20px;
}

.tile1 img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}