body {
    background-color: #2f2f2f;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -100px;
}

:focus {
    outline: 2px solid red;
}

.skip a:focus {
    top: 20px;
}

.tiles1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile1 {
    width: 30%;
    margin-bottom: 20px;
}

.tile1 img {
    width: 100%;
    height: auto;
}

.tiles2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-items: center;
}

.tile2 {
    width: 70%;
    margin-bottom: 20px;
}

.tile2 img {
    width: 100%;
    height: auto;
    border-radius: 40%;
    border: 3px solid #0275d8;
}

figcaption {
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

/* Tablet */
@media screen and (min-width: 500px) {
    .tiles2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        justify-items: space-around;
    }

    .tile2 {
        width: 70%;
        margin-bottom: 20px;
    }

    .tile2 img {
        width: 100%;
        height: auto;
        border-radius: 25%;
        border: 2px solid #0275d8;
    }

    .hidden {
        display: block;
    }
}

/* Desktop */
@media screen and (min-width: 900px) {
    figcaption {
        font-size: 1.5em;
    }

    .tiles2 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tile2 img {
        border-radius: 10%;
    }

    .hidden {
        display: block;
    }
}

/* PREFERS REDUCED MOTION IS HANDLED IN SCRIPT.JS */